/* * {
    margin: 0;
    padding: 0;
} */

body {
    /* background-image: url(./AmpleCreativeAxolotl.webp); */
    background: #f30000 url(./AmpleCreativeAxolotl.webp) center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
