* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    border: solid ;

}

.fly {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fly p {
    display
}

.main {
    /* width: 50%; */
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


p[class] {
    background-color: blue;
}

p[class="mypara"] {
    background-color: red;
}

p[class~="rip"] {
    background-color: green;
}

